# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v


      #Configurar Java 16
      - name: Setup Java JDK
    uses: actions/setup-java@v2.1.0
    with:
      # The Java version to set up. Takes a whole or semver Java version. See examples of supported syntax in README file
      java-version: 16
      # Java distribution. See the list of supported distributions in README file
      distribution: adopt
      # The package type (jdk, jre, jdk+fx, jre+fx)
      java-package: # optional, default is jdk
      # The architecture of the package
      architecture: # optional, default is x64
      # Path to where the compressed JDK is located
      jdkFile: # optional
      # Set this option if you want the action to check for the latest available version that satisfies the version spec
      check-latest: # optional
      # ID of the distributionManagement repository in the pom.xml file. Default is `github`
      server-id: # optional, default is github
      # Environment variable name for the username for authentication to the Apache Maven repository. Default is $GITHUB_ACTOR
      server-username: # optional, default is GITHUB_ACTOR
      # Environment variable name for password or token for authentication to the Apache Maven repository. Default is $GITHUB_TOKEN
      server-password: # optional, default is GITHUB_TOKEN
      # Path to where the settings.xml file will be written. Default is ~/.m2.
      settings-path: # optional
      # Overwrite the settings.xml file if it exists. Default is "true".
      overwrite-settings: # optional, default is true
      # GPG private key to import. Default is empty string.
      gpg-private-key: # optional
      # Environment variable name for the GPG private key passphrase. Default is $GPG_PASSPHRASE.
      gpg-passphrase: # optional
      
      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Comenzando test.
          ./start.bat
          echo Esperando 30 segundos...
          sleep -Seconds 30
          stop
